@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    font-family: "Kanit", sans-serif;
}
#nav{
    background-color: rgb(213, 255, 255);
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.bcci{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
#bcci-logo{
    width: 1.8rem;
    height: 1.8rem;
}
.bcci-text{
    font-weight: 500;
    font-size: 1.5rem;
}
.nav-titles{
    display: flex;
    gap: 2rem;
}
.title{
    text-decoration: none;
    color: black;
}
.title:hover{
    color: rgb(96, 96, 96);
}

#contact{
    width: 100%;
    height: 30%;
    background-color: rgb(204, 202, 202);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
#contact-title{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
}
#contact-components{
    display: flex;
    margin: 1rem auto;
    gap: 4rem;
}
.contact-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}
.contact-div:hover{
    color: rgb(52, 52, 52);
    cursor: pointer;
}
#copyright{
    text-align: center;
    color: rgb(130, 130, 130);
    font-size: 0.6rem;
}

#main-title{
    color: black;
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

#all-merch{
    background-color: rgb(1, 1, 82);
    border-radius: 1rem;
    padding: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: 1.5rem;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.jersey-img{
    width: 6rem;
    height: 6.8rem;
}
.merch-card{
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    color: black;
    width: 10rem;
    height: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.jersey-details{
    display: flex;
    font-size: 0.7rem;
    gap: 1rem;
    background-color: rgb(201, 200, 200);
    padding: 0.3rem;
    border-radius: 0.3rem;
}
.jersey-year{
    color: rgb(54, 54, 206);
}